@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "Montserrat";
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.header-container {
  height: 7vh;
  width: 100vw;
  background-color: #5527b1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
}

.social-networks {
  display: flex;
}

.social-networks ul {
  padding: 0;
  display: flex;
  list-style: none;
}

.social-networks li {
  margin: 1px;
}

.social-networks img {
  height: 2vh;
  width: 5vw;
}

.logo img {
  height: 5vh;
  width: 25vw;
}

.contact-us-container {
  display: flex;
  align-items: center;
}

.contact-us {
  display: flex;
  background-color: #fffc00;
  height: 2vh;
  width: 20vw;
  border-radius: 25%;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.contact-us h4 {
  font-size: 5px;
  text-transform: uppercase;
  margin-right: 3px;
}

.contact-us img {
  height: 1vh;
}

.main-container {
  background-color: #1f2122;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.first-section {
  display: flex;
}

.left-content {
  width: 50vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-content h2 {
  font-size: 7px;
}

.left-content h4 {
  font-size: 5px;
}

.left-content button {
  text-transform: uppercase;
  background-color: #5527b1;
  color: #fff;
  border: none;
  border-radius: 6%;
  font-size: 5.9px;
  height: 3vh;
  width: 60%;
  font-weight: 700;
}

.right-content {
  width: 50vw;
  padding: 10px;
}

.right-content img {
  width: 44vw;
  height: 20;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container {
  display: flex;
  align-items: center;
  padding: 4vw;
}

.text-container p {
  font-size: 7px;
  text-align: center;
}

.image-container img {
  width: 90vw;
}

.footer-container {
    height: 5vh;
    background-color: #5527b1;
    color: #fffc00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9vw;
}

.footer-logo img {
    height: 3vh;
}

.copyright-text {
    display: flex;
    align-items: end;
}

.copyright-text p {
    font-size: 4px;
}

.footer-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer-social-networks ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

}

.footer-social-networks img {
    height: 1vh;
}

.footer-contact-us {
    display: flex;
    color: #5527b1;
    background-color: #fffc00;
    border-radius: 15%;
    font-size: 2px;

}

.footer-contact-us img {
    height: 0.5vh;
    width: 10vw;
}